@inherits LayoutComponentBase

<Layout Class="d-flex">
	<Navigation />

	<div class="bg-gray w-100" style="padding: 1.5vw;">
		<div class="bg-white rounded h-100" style="padding: 2vw;">
			@Body
		</div>
	</div>
</Layout>
