@inherits PageComponentBase<PasswordResetViewModel>

@attribute [Route((Routes.PasswordReset))]

<PageTitle>Zapomenuté Heslo</PageTitle>

<GridRow Justify="center">
	<GridCol Span=24 Sm=20 Md=16 Lg=8 Xl=6 Xxl=4>
		<Space Direction=@DirectionVHType.Vertical Class="w-100">
			<Divider Orientation="left">Zapomenuté Heslo</Divider>

			<SpaceItem>
				<InputValidated Placeholder="Email" @bind-Value=Model.Email ErrorMessage=@Model.ValidationResult.GetErrorMessageFor(nameof(Model.Email)) />
			</SpaceItem>

			<SpaceItem Class="mx-auto">
				<Button Type=@ButtonType.Primary Loading=Model.IsBusy @onclick=Model.SubmitRequestForReset>Odeslat Email</Button>
			</SpaceItem>
		</Space>
	</GridCol>
</GridRow>