@inherits PageComponentBase<PasswordResetViewModel>

@attribute [Route((Routes.PasswordReset + "/{Code}"))]

<PageTitle>Obnova Hesla</PageTitle>

<GridRow Justify="center">
	<GridCol Span=24 Sm=20 Md=16 Lg=8 Xl=6 Xxl=4>
		<Space Direction=@DirectionVHType.Vertical Class="w-100">
			<Divider Orientation="left">Obnova Hesla</Divider>

			<SpaceItem>
				<InputValidated Placeholder="Email" @bind-Value=Model.Email ErrorMessage=@Model.ValidationResult.GetErrorMessageFor(nameof(Model.Email)) />
			</SpaceItem>

			<SpaceItem>
				<InputPasswordValidated Placeholder="Heslo" @bind-Value=Model.Password ErrorMessage=@Model.ValidationResult.GetErrorMessageFor(nameof(Model.Password)) />
			</SpaceItem>

			<SpaceItem>
				<InputPasswordValidated Placeholder="Heslo" @bind-Value=Model.ConfirmPassword ErrorMessage=@Model.ValidationResult.GetErrorMessageFor(nameof(Model.ConfirmPassword)) />
			</SpaceItem>

			<SpaceItem Class="mx-auto">
				<Button Type=@ButtonType.Primary Loading=Model.IsBusy OnClick="() => Model.SubmitPasswordReset(Code)">Změnit Heslo</Button>
			</SpaceItem>
		</Space>
	</GridCol>
</GridRow>

@code {
	[Parameter] public string Code { get; set; } = string.Empty;
}
